*{
    margin: 0;padding: 0;
}
body {
    line-height: 1.2;
    font-size: 0.9em;
    font-family: "Open Sans", Courier, New, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
}
.container{
    background-color: transparent;
}
header{
    position: absolute;
    top: 1%;
    width: 90vw;
    left: 4vw;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow:0 1px 20px;
    background-color: rgba(43,69,63,0.3);
    padding: 10px;
}
header:hover{
    background-color: rgba(43,69,63,0.6);
    box-shadow:0 1px 30px;
    transition: all 1s linear ;
}

.logo{
    display: inline-block;
    width: 30%;
}
.logo-photo{
    width: 60px;
    height: 60px;
    border: 3px solid rgba(255,255,255,1);
    /*box-shadow: 0 0 3px rgba(255,255,255,1);*/
    border-radius: 50%;
    vertical-align: middle;
}
.logo-name{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}
nav{
    display: inline-block;
    position: relative;
    width: 69%;
    text-align: right;
    vertical-align: middle;
}
nav>a{
    height: 32px;
    width: 10%;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
nav>a:hover{
    border: 1px solid rgba(255,255,255,1);
    box-shadow: 0 1px 20px rgba(255,255,255,1);
    transition: all 0.3s ease-in-out;
}
.content{
    margin: 0;
}
section{
    height: 100vh;
    color: #ffffff;
    font-size: 1.5em;

}
section.about{
    background: url("../img/_info.jpg")0 100% border-box no-repeat;
    background-size: cover;

}
section.career{
    background: url("../img/_career.jpg")0 100% border-box no-repeat;
    background-size: cover;
}
section.skills{
    background: url("../img/_skills.jpg")0 100% border-box no-repeat;
    background-size: cover;
}
section.projects{
    background: url("../img/_projects.jpg")0 100% border-box no-repeat;
    background-size: cover;
}
section.help{
    background: url("../img/_help.jpg")0 100% border-box no-repeat;
    background-size: cover;
}
section.contacts{
    background: url("../img/_contacts.jpg")0 100% border-box no-repeat;
    background-size: cover;
}
article>p.description-title{
    display: block;
    position: relative;
    text-align: left;
    margin-top: -2%;

}
article.description{
    width: 50%;
    position: relative;
    margin: auto;
    padding: 3%;
    text-align: center;
    top: 20%;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 15px;
    background-color: rgba(43,69,63,0.3);
    box-shadow:0 1px 15px;
}
article.description:hover{
    border: 1px solid rgba(255,255,255,1);
    background-color: rgba(43,69,63,0.6);
    box-shadow:0 1px 30px;
    transition: all 1s ease-in-out;
}
article>img.description-img{
    border-radius: 50%;
    width: 30%;
}
article>p.description-fio{
    font-size: 2em;
}
.social{
    position: relative;
    width: 30%;
    margin: auto;
    top: 25%;
    text-align: center;
}
.social-icon{
    height: 32px;
    background-color: rgba(43,69,63,0.1);
    border-radius: 50%;
}
.social-icon:hover{
    background-color: rgba(255,255,255,1);

}
.separator{
    position: relative;
    /*height: 1px;*/
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow:0 1px 30px 15px;
}
footer{
    text-align: center;
    background-color: rgba(0,0,0,0.5);

}