//-------------------SCSS-------------------------
$color-base50: #eceff1;
$color-base100: #cfd8dc;
$color-base200: #b0bec5;
$color-base300: #90a4ae;
$color-base400: #78909c;
$color-base500: #607d8b;
$color-base600: #546e7a;
$color-base600-06: rgba(84,110,122,.6);
$color-base700: #455a64;
$color-base800: #37474f;
$color-base900: #263238;

$color-bg-full: rgb(43, 69, 63);
$color-bg-03:rgba(43,69,63,0.3);
$color-bg-06:rgba(43,69,63,0.6);
$border-white:1px solid rgba(255, 255, 255, 1);

@mixin linear-gradient($params...){
    background: -webkit-linear-gradient($params);
       background: -moz-linear-gradient($params);
        background: -ms-linear-gradient($params);
         background: -o-linear-gradient($params);
            background: linear-gradient($params);
}
@mixin transition($params...){
    -webkit-transition: $params;
       -moz-transition: $params;
        //-ms-transition: $params;
            transition: $params;
}
@mixin transition-ease($sec){
    -webkit-transition: all $sec ease;
       -moz-transition: all $sec ease;
            transition: all $sec ease;
}
@mixin transition-linear($sec) {
    -webkit-transition: all $sec linear;
       -moz-transition: all $sec linear;
            transition: all $sec linear;
}
@mixin border($border...){
    border: $border;
}
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}
@mixin box-shadow($shadow...){
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
         -o-box-shadow: $shadow;
            box-shadow: $shadow;
}
@mixin block-hover{
    background-color: $color-bg-full;
    @include box-shadow(0 1px 30px);
    @include transition-linear(1s);
}
@mixin block{
    background-color: $color-bg-06;
    @include border($border-white);
    @include border-radius(15px);
    @include box-shadow(0 1px 15px);
    &:hover{
        @include block-hover;
    }
}
@mixin transform($tr){
    -webkit-transform: $tr;
       -moz-transform: $tr;
        -ms-transform: $tr;
         -o-transform: $tr;
            transform: $tr;
}
//------------------CSS--------------------
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html,body {
    line-height: 1.2;
    font-size: 0.9em;
    font-family: "Open Sans", Courier, Roboto, New, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ffffff;
    //background: radial-gradient(rgba(43,69,63,0.1),$color-bg-06);
    //background: linear-gradient( to right,#fff,$color-base400);
    //background: $color-bg-06;
}
a{
    text-decoration: none;
    color: #fff;
}
.content{
    //background: url("../img/info.jpg") no-repeat fixed center;
    //background-size: cover;
    //padding-top:5%;
}
//------------HEADER--------------------------------------
header{
    display: none;
    position: fixed;
    top:0;
    width: 90vw;
    margin: 0 4.5vw;
    padding: 10px;
    @include block;
    &.show {
        display: block;
        margin-top: 0;
        z-index: 9999;
    }
    .logo{
        display: inline-block;
        .logo-photo{
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 3px solid rgba(255,255,255,1);
            @include border-radius(50%);
            vertical-align: middle;
        }
        .logo-name{
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            @media screen and (max-width: 700px) {
                display: none;
            }
        }
    }
    nav{
        display: inline-block;
        width: auto;
        float: right;
        @include transform(translateY(150%));
        clear: both;
        vertical-align: middle;
        a{
            height: 32px;
            width: 10%;
            padding: 15px;
            border: 1px solid rgba(255,255,255,0.7);
            @include border-radius(6px);
            @include box-shadow(0 1px 1px rgba(0,0,0,.04));
            text-decoration: none;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            @media screen and (max-width: 700px) {
                height: 25px;
                width: 7%;
                padding: 10px;
            }
            &:hover{
                border: $border-white;
                @include box-shadow(0 1px 20px rgba(255,255,255,1));
                @include transition(all 0.3s ease-in-out);
            }
        }
    }
}

//---------end-HEADER------------------------------------------
section{
    color: #ffffff;
    font-size: 1.5em;
    p.section-title{
        border-bottom: 1px dashed #ffffff;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        font-size: 1.5em;
        //background: $color-bg-03;
        //background: linear-gradient(to top, rgba(255,255,255,.2),$color-bg-03);
    }
}
//---------------ABOUT----------------------------------
section.about{
    background: url("./img/info.jpg") no-repeat fixed center;
    background-size: cover;
    padding-top: 4%;
    @include box-shadow(0 0 0 50vw rgba(0,0,0,0.4) inset);

    article.description{
        width: 60%;
        margin: 3em auto;
        padding: 3%;
        text-align: center;
        @include block;
        @include transition(all 1s ease-in-out);
        p.description-title{
            text-align: left;
            @media screen and ( max-width: 700px) {
                font-size: 0.8em;
            }
        }
        p.description-cap {
            font-size: 2em;
            @media screen and (max-width: 700px){
                font-size: 1.3em;
            }
        }
        &:hover{
            @include transition(all 1s ease-in-out);
        }
        p.description-text{
            @media screen and (max-width: 700px){
                font-size: 0.8em;
            }
        }
        img.description-img{
            @include border-radius(50%);
            width: 40%;
            @media screen and (max-width: 700px){
                width: 50%;
            }
        }
    }
    .social{
        margin:3% auto;
        text-align: center;
    }
    .social-icon{
        height: 32px;
        color: #000000;
        @include border-radius(50%);
        &:hover{
            color: #fff;
            background-color: rgb(255,255,255);
            @include box-shadow(0 1px 20px 10px);
            @include transition-ease(1s);
        }
    }
}
//---------------end-ABOUT----------------------------------
//------------------CAREER--------------------------
section.career{
    background: url("./img/career.jpg") no-repeat fixed center;
    background-size: cover;
    @include box-shadow(0 0 0 50vw rgba(0,0,0,0.4) inset);
    .timeline{
        width: 90vw;
        margin: 0 auto;
        //@include block;
    }
    .timeline-row{
        .timeline-col{
            display: inline-block;
            width: 49%;
            height: 100%;
            font-size: 0.8em;
            padding: 15px;
            vertical-align: middle;

            &:nth-child(1){
                .text-in-col{
                    background: $color-bg-06;
                    @include linear-gradient(to right, rgba(255,255,255,.2) ,$color-bg-06 30%);
                    text-align: right;
                    border-right: 4px solid #fff;
                    @include transition-linear(1s);
                }
            }
            &:nth-child(3){
                .text-in-col{
                    background: $color-bg-06;
                    @include linear-gradient(to left, rgba(255,255,255,.2),$color-bg-06 30%);
                    text-align: left;
                    border-left: 4px solid #fff;
                    @include transition-linear(1s);
                }
            }
            p.text-in-col{
                padding: 15px;
                word-wrap: break-word;
                a{
                    text-decoration: underline;
                }
                &:hover{
                    background: $color-bg-full;
                    @include linear-gradient(to bottom, $color-bg-06,$color-bg-06 30%);
                    @include block-hover;
                    @include transition-linear(2s);
                }
            }
            p.back-title{
                display: inline-block;
                position: absolute;
                width: 50%;
                margin: 0 auto;
                text-align: center;
                opacity: 0.2;
                font-size: 50px;
                font-weight: 900;
            }
        }
        .timeline-col-middle{
            width: 0;
            display: inline-block;
            border-left: 2px dotted #ffffff;
            vertical-align: middle;
            height: 150px;
            overflow: hidden;

            .timeline-point{
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                border: 2px solid #ffffff;
                @include border-radius(50%);
                //margin-top:3.7%;
                background: $color-bg-06;
                @include transform(translate(-11px,6.2vh));
                &:hover{
                    background-color: white;
                    cursor: pointer;
                }
            }
            .point-min{
                position: relative;
                width: 14px;
                height: 14px;
                font-size: 0.6em;
                @include transform(translateY(-12px));
                left: 25%;
            }
        }
    }
    .timeline-row-middle{
        height: 1px;
        border: 1px solid lightgrey;
        background-color: black;
    }
}
//------------end-CAREER--------------------------------------
//----------------SKILLS--------------------------------------
section.skills{
    background-size: cover;
    background: url("./img/skills.jpg") no-repeat fixed center;
    @include box-shadow(0 0 0 50vw rgba(0,0,0,0.4) inset);
    .skills-block{
        width: 90vw;
        margin: auto;
        padding: 0 2% 3% 2%;
        .skills-group{
            p.cap{
                //text-transform: uppercase;
                text-align: center;
                width: 20%;
                margin: auto;
                padding: 20px 0 10px 0;
                border-bottom: 2px solid #fff;
            }
            .skill{
                display: inline-block;
                margin: 10px;
                padding: 5px 10px 5px 5px;
                @include border-radius(100px 1px 1px 100px);
                @include box-shadow(2px 2px 20px $color-bg-full);
                //background-color: rgba(255,255,255,.99);
                background-color: #eaeaea;
                @include linear-gradient(to right, rgba(255,255,255,.3),$color-bg-full 60%);
                border: 2px solid #fff;
                p{
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 1em;
                    vertical-align: middle;
                }
                .skill-icon{
                    display: inline-block;
                    height: 3em;
                    width: 3em;
                    border: 2px solid #fff;
                    @include border-radius(50%);
                    vertical-align: middle;
                    background: $color-base50;
                    img{
                        height: 100%;
                        @include border-radius(50%);
                    }
                    svg{
                        height: 60px;
                        width: 80px;
                    }
                    svg.progress{
                        height: 6vh;
                        width: 6vh;
                        border: 1px dotted #fff;
                    }
                    svg > path{
                        fill: #fff;
                        fill-opacity: 0.7;
                    }
                }
            }
        }
    }
}

//-------------end---SKILLS-----------------------------------
//section.projects{
//    background: url("../img/projects.jpg")0 100% border-box no-repeat;
//    background-size: cover;
//  background-attachment: show;
//  background-position: center;
//  background-repeat: no-repeat;
//}
//section.help{
//    background: url("../img/help.jpg")0 100% border-box no-repeat;
//    background-size: cover;
//  background-attachment: show;
//  background-position: center;
//  background-repeat: no-repeat;
//}

//--------------CONTACTS----------------------------------------
section.contacts{
    //background: url("../img/contacts.jpg") no-repeat fixed center;
    background-size: cover;
    background: $color-base600-06;
    @include box-shadow(0 0 0 50vw rgba(0,0,0,0.4) inset);

    p{
        width: 90%;
        margin: auto;
        padding: 3%;
        span{
            font-size: 1.5em;
            vertical-align: middle;
            @media screen and (max-width: 700px){
                font-size: 1em;
            }
        }
        a.mail-me{
            padding:10px;
            float: right;
            border: $border-white;
            vertical-align: middle;
            &:hover{
                background: rgba(255,255,255,.2);
            }
            @media screen and (max-width: 700px){
                font-size: 0.7em;
                padding: 5px;
            }
        }
    }
}
//---------end--CONTACTS----------------------------------------
//-----------------------Service--------------------------------
.separator{
    border: $border-white;
    @include border(2px solid #fff);
}
.block{
    @include block;
}
.block:hover{
    @include block-hover;
}
.block-dark{
    border: $border-white;
    @include border-radius(15px);
    @include box-shadow(0 1px 20px);
    background-color: $color-bg-06;
}
.block-dark:hover{
    background-color: $color-bg-full;
    @include box-shadow(0 1px 30px);
    @include transition-ease(1s);
    //transition: all 1s linear ;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.border-right-2px{
    border-right: 2px solid white;
}
.border-right-4px{
    border-right: 4px solid white;
}
.border-left-2px{
    border-left: 2px solid white;
}
.border-left-4px{
    border-left: 4px solid white;
}
//--------------------end--Service-----------------------------

//--------projects-----------
.projects-block{
    position: relative;
    width: 90vw;
    margin: auto;
    top:15vh;
}
figure{
    display: inline-block;
    width: 25vh;
    /*height: 20vw;*/
    padding: 10px;
    margin: 20px 2.5%;
    font-size: 0.7em;
}
figure>a>img{
    position: relative;
    /*display: flex;*/
    width: 100%;
}


footer{
    padding: 1%;
    text-align: center;
    background-color: $color-bg-full;
}
